* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 226);
    font-family: sans-serif;
}
.container {
    max-width: 100%;
	padding: 40px;
	margin: 0 auto;
}

.main-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5rem;
}
.card {
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    padding: 0.8rem;
    border-radius: 1rem;
}

.sprite {
    position: absolute;
    margin-top: -50px;
}

.name {
    text-align: right;
}

.type {
    background-color: rgb(56, 56, 56);
    border-radius: 1rem;
    color: #fff;
    padding: 0.5rem 1.5rem;

}
.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 50px;
	padding-inline-start: 0;
    justify-content: center;
}

